Django
python-decouple
requests
gunicorn
whitenoise
Celery
redis
django-celery-beat
django-celery-results
openai
anthropic
duckduckgo-search
beautifulsoup4
pytz
llama-index
llama-index-vector-stores-upstash
upstash-vector
